{% for child in admin.getChildren() %}
    <a class="btn btn-sm btn-default" href="{{ child.generateUrl('list', {'id': object.id}) }}" title="{{ child.getLabel() |trans }}">
        {% if child.getAdminIcon is defined  %}
            {{ child.getAdminIcon()|raw }}
        {% endif %}
    </a>
{% endfor %}

