<th{% if(is_diff|default(false)) %} class="diff"{% endif %}>{% block name %}{{ admin.trans(field_description.label, {}, field_description.translationDomain) }}{% endblock %}</th>
<td>
    {% if value and field_description.options.oneup_uploader_id is defined %}
        {% set path = "/uploads/"~field_description.options.oneup_uploader_id~"/"~value %}
        <img src="{{ path | imagine_filter('admin_thumb') }}" />
    {% else %}
        <img src="{{ '/bundles/aiadmin/img/no-img.jpg' | imagine_filter('admin_thumb') }}" />
    {% endif %}
</td>
