/* skin-black sidebar */
.skin-black .sidebar {
    border-bottom: 1px solid #293846;
}
.skin-black .sidebar > .sidebar-menu > li {
    border-top: 1px solid #293846;
    border-bottom: 0px solid #293846;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #293846;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 0px solid #293846;
}
.skin-black .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
    color: #f6f6f6;
    background: #293846;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #293846;
}

.skin-black .left-side {
    background: url(../img/header-profile.png) 0 -50px no-repeat #2f4050;
}

.skin-black .logo {
    background: url(../img/header-profile.png) top left no-repeat #2f4050;
}

.skin-black .logo:hover {
    background-color: #293846;
}

.sonata-ba-action {
    margin-top:7px!important;
}

.ui-slider-range { background: #293846; }
.ui-slider-handle { border-color: #293846; }

.jqueryslider_number{
    margin:0 0 3px;
    background: none repeat scroll 0 0 #293846;
    color: #fff;
    text-align: center;
    width: 100px;
    border-radius: 6px;
    font-size:120%;
}

.contact_date.green{background: rgba(0, 128, 0, 0.47);color:#000;}
.contact_date.hotRed{background:red;color:#000;}
.contact_date.red{background: rgba(255, 0, 0, 0.53);color:#000;}
.contact_date.yellow{background: rgba(255, 255, 0, 0.56);color:#000;}

.navbar-default .navbar-nav > li > a {
    background: none repeat scroll 0 0 #293846;
    border-radius: 3px;
    color: #fff!important;
    margin: 10px 5px;
    padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    background: none repeat scroll 0 0 #2f4050!important;
    color: #fff!important;
}

.sonata-bc .breadcrumb li span {
    display:inline-block;
}